<%- include("nav") -%>
<div class="container">
    <h1>Compose</h1>
    <div class=box>
        <form action="/compose" method="post">
            <label>Title</label><br>
            <input type="text" name="title"><br>
            <label>Author</label><br>
            <input type="text" name="name" placeholder="Your First name"><br>
            <label>Post</label><br>
            <textarea name="post"></textarea><br>
            <button class="btn btn-primary">Publish</button>
        </form>
    </div>
  
    

</div>