<%- include("nav") -%>
<div class="container">
    <h1>Contact</h1>
 
        <div class="box-contact">
            <form action="mailto:wolvo6205@gmail.com" method=post> 
            <label>Name</label><br>
            <input type="text" name="Name " placeholder="First Name"><br>
            <label>Email</label><br>
            <input type="email" name="Email " placeholder="Email">
            <label>Message</label>
            <textarea></textarea>
            <button class=" btn-primary" Style="margin:auto;" type="submit">Send</button>
            </form>
            
        </div>
    </div>
    <div class= social-link>
        <h4>Connect with me on :</h4>
    <a href='https://github.com/atuljaiss'> <i class="social fab fa-github"></i></a>
    <a href='https://twitter.com/Wolveri62723087'> <i class="social fab fa-twitter"></i></a>
    <a href='https://www.linkedin.com/in/atul-kumar-a585491bb/'> <i class="social fab fa-linkedin"></i></a>
    <a href='https://www.instagram.com/atul_jaiss/'> <i class="social fab fa-instagram"></i></a>
    </div>
    
</div>
<%- include("footer") -%>
