<%- include("nav") -%>
<div class="container">
    <div style="text-align: center;">
        <img width="500px" src="image/preview.gif">
        <p>No blog is present here, To create your blog click on <strong>My Blogs</strong> at top </p>
    </div>
    
    
</div>
<%- include("footer") -%>
